body {
  font-family: "Trebuchet MS", sans-serif;
  color: #444;
  font-size: 16px;
}

/* .title-large {
  font-size: 48px;
  margin-bottom: 18px;
} */

.title-medium {
  font-size: 36px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
}

/* .title-middle {
  font-size: 30px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
} */

/* .title-middle-2 {
  font-size: 30px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
} */

.title-small {
  font-size: 20px;
  margin-bottom: 6px;
}

/* .text-lead {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
} */

/* .text-lead {
  color: #d3d3d3;
  max-width: 70%;
  margin: 0 15%;
} */

/* .text-medium {
  font-size: 14px;
  line-height: 24px;
  color: #666;
} */

/* .text-small {
  font-size: 12px;
  font-style: italic;
  line-height: 100%;
  padding-bottom: 10px;
}
 */

.text-center {
  text-align: center;
}

.links-decoration a {
  outline: none;
  text-decoration: none;
}

@media (max-width: 640px) {
  .title-medium {
    font-size: 24px;
    font-weight: bold;
    padding-top: -10px;

  }

}