body {
  font-family: "Trebuchet MS", sans-serif;
  color: #444;
  font-size: 16px;
}

.title-medium {
  font-size: 36px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 12px;
}

.title-small {
  font-size: 20px;
  margin-bottom: 6px;
}

.text-center {
  text-align: center;
}

.links-decoration a {
  outline: none;
  text-decoration: none;
}

@media (max-width: 640px) {
  .title-medium {
    font-size: 24px;
    font-weight: bold;
    padding-top: -10px;
  }
}
