.action {
  padding: 40px 0;
  background: #f2f2f2;
}

.action-image {
  width: 300px;
  opacity: 0.9;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-large {
  font-size: 48px;
  margin-bottom: 18px;
}

.form-input-text {
  align-items: left;
}

.form-input-text {
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  font-size: 125%;
  padding: 5px;
}

input.button {
  border: 0;
}

.action-details {
  text-align: left;
  padding-left: 15px;
}

@media (max-width: 620px) {
  .title-large {
    font-size: 36px;
    margin-bottom: 0;
  }

  .action-image {
    width: 270px;
    opacity: 0.9;
  }
}
