.features {
  padding: 40px 0;
  background: #eee;
}

.features-item {
  padding: 10px;
}

@media (max-width: 640px) {
  .features {
    padding: 20px 10px 10px 10px;
  }

  .text-lead {
    font-size: 22px;
  }
}