.header {
  position: fixed;
  width: 100%;
  background: black;
  top: 0;
  opacity: 0.85;
  z-index: 10;
}

.header-logo {
  float: left;
  display: inline;
  padding: 0 0 0 14px;
}

.header-logo-image {
  height: 38px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.header-nav {
  float: right;
  vertical-align: baseline;
  line-height: 36px;
}

.header-nav-item {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: inline-block;
}

.header-nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-nav-link:hover {
  color: black;
  background-color: #fff;
  border-radius: 2px;
  transition: all ease .3s;
}

@media (max-width: 640px) {
/*   .header {
    position: inherit;
    width: auto;
    top: auto;
    opacity: 0.4;
  }

  .header-nav, .header-logo {
    float: none;
  }

  .header-nav-item {
    display: block;
  } */

  .header {
    display: none;
  }
}
