.background {
  text-align: center;
}

.background img {
  max-width: 77%;
  height: auto;
}

.intro h1 {
  padding-top: 60px;
  padding-bottom: 10px;
  margin: 20px 0 20px 0;
  font-size: 36px;
}


@media (max-width: 640px) {
  .intro-title-medium {
      font-size: 24px;
      font-weight: bold;
      padding-top: -10px;
  }
}

@media (max-width: 500px) {
  .title-intro {
    font-size: 20px;
  }

  .intro h1 {
    padding-top: 20px;
  }
}
