.intro {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll, fixed;
  background-position: left center;
  color: #fff;
  padding-top: 56px;
  padding-bottom: 589px;
}

.title-intro {
  font-size: 48px;
}

.buffer-top-large {
  margin-top: 40px;
}

@media (max-width: 500px) {
  .intro {
    background-size: contain;
    background-image: none;
    background-position: top left;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .title-intro {
    font-size: 20px;
  }

  .buffer-top-large {
    margin-top: -10px;
  }
}
